@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$primary-color-text:   #FFFFFF;
$background-pale: #8895DC;
$primary-color-dark:   #2137AA;

html, body { 
  height:100%; 
  width:100%;
  overflow: hidden;
}

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
}

.input-text-container {
  min-height: 64px;
  padding: 8px 24px 0;

  .mat-form-field {
      font-size: 14px;
      width: 100%;
  }
}

.flex-spacer {
  flex: 1 1 auto;
}

.fa {
  color: $primary-color-text;
}

.highlight {
  cursor: pointer;
  -webkit-transition: background-color 0.2s, border 0.2s, transform 0.2s;
  transition: background-color 0.2s, border 0.2s, transform 0.2s;
}

.highlight:hover {
  background-color: $background-pale;
  border: 1px solid $primary-color-dark;
  transform: scale(1.01);
}

.droppableInactive {
  height: 4em;
  text-align: center;
  line-height: 4em;
  border: 1px dashed $primary-color-dark;
  -webkit-transition: background-color 0.2s, border 0.2s, height 0.2s;
  transition: background-color 0.2s, border 0.2s, height 0.2s;
}

.droppableHighlight {
  background-color: $background-pale;
  border: 1px solid $primary-color-dark;
  height: 6em;
  line-height: 6em;
}

.errorMsg {
  font-weight: bold;
  color: red;
}